<!DOCTYPE html>
<html>

<head>

  <title>Coffee-N-Meet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Import Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&family=Josefin+Slab&display=swap" rel="stylesheet">
  
  <!-- Import CSS file -->
  <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> -->

  <!-- <link rel="stylesheet" href="/css/main.css" /> -->

</head>

<body class="h-100">
  <h1>Realtime communication with WebRTC: MyOwnTest1</h1>

  <div id="videos">
    <video id="localVideo" autoplay muted playsinline></video>
    <video id="remoteVideo" autoplay muted playsinline></video>
  </div>

  <!-- This file is automatically added/served when running "node index.js". -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="js/main.js"></script>
  
</body>

</html>