<!DOCTYPE html>
<html>

<head>

  <title>Coffee-N-Meet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Import Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&family=Josefin+Slab&display=swap" rel="stylesheet">
  
  <!-- Import CSS file -->
  <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> -->

  <!-- <link rel="stylesheet" href="/css/main.css" /> -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <!-- <script type = "module" src="/js/media_ctrl.js"></script> -->
  <script type = "module" src="/js/main.js"></script>

</head>

<body class="h-100">
  <h1>Realtime communication with WebRTC: MyOwnTest1</h1>

  <div id="videos">
    <video id="localVideo" autoplay muted playsinline></video>
    <video id="remoteVideo" autoplay muted playsinline></video>
    <video id="shareScreen" autoplay muted playsinline></video>
  </div>

  <textarea id="dataChannelSend" disabled
    placeholder="Press Start, enter some text, then press Send."></textarea>
  <textarea id="dataChannelReceive" disabled></textarea>

  <button id="sendButton">Send</button>
  <button id = "terminateButton">Bye</button>
  <button id = "shareScreenBtn">Share Screen</button>
  <button id = "stopShareBtn">Stop Share Screen</button>

  <!-- This file is automatically added/served when running "node index.js". -->

  <input type="file" id="file-input">
  <button id = "share">Share</button>
  
  
</body>

</html>